<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Home</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <div><strong><%= post.content %></strong></div>
                <div>Created by <%= post.user.name %></div>
                <!-- Display comments for each post -->
                <% post.comments.forEach(comment => { %>
                    <div><%= comment.content %> - by <%= comment.user.name %></div>
                <% }); %>
                
                <!-- Comment form -->
                <form action="/comment/create" method="post">
                    <textarea name="comment" id="comment" cols="30" rows="3" placeholder="Comment here..."></textarea>
                    <input type="hidden" name="post_id" value="<%= post._id %>">
                    <button type="submit">Add Comment</button>    
                </form>
            </li>
        <% }); %>
    </ul>
    
    <form action="/posts/create" method="post">
        <textarea name="content" id="content" cols="30" rows="10" placeholder="Share your idea"></textarea>
        <button type="submit">Post</button>
    </form>
</body>
</html>
